body {
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
    background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); 
  }

nav ul li:hover{
    background-color: #399077;
}

nav ul li:active{
    background-color: #45a049;
}